
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #child_templates{
        margin-top:-5% !important;
  }
  .modal-lg{
    width:700px !important;
}s
  #wrapper{
    margin-left:1%;
  }
}

#kt_wrapper{
    background-color:#fff !important;
}
h4.page-header{
    font-size:20px;
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    text-transform: capitalize;
    color: #000000;

}
p.sub-page-header{
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #222225;
    }
p.page-header-help{
    color: #000000;
    font-style: normal;
    font-weight: normal;
    line-height: 13px;
    font-size:12px !important;
    margin-top:3% !important;
}
p.page-text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #121212;
}
p.list-divider{
    margin-top:1rem;margin-bottom:1rem;border-top:1px solid rgb(241,241,241);
}
img.side-nav-icon{
    width:45%;height:45%;
}
div.no-margin-left{
    margin-left:0px !important;
}
div.no-padding-left{
    padding-left:0px !important;
}
.primary-btn-small{
    background-color:#410DAA !important;
    color:white !important;
    width:130px !important;
}
.primary-btn-medium{
    background-color:#410DAA !important;
    color:white !important;
    width:250px !important;
}
.form-control{
    margin-bottom:2% !important;
}
.spinner{
    color:#410DAA !important;
}
.primary-color{
    color:#410DAA !important;
}
.form-control:focus{
    background-color:#ffffff !important;
    border-color:#410DAA !important;
}
.mobile-logo{
    width:60% !important;
}
.help-block{
    font-weight:400 !important;
    font-size: 0.9rem !important;
    font-size:11px;
    color:#6C6D72 !important;
}
[type="radio"]:not(:checked), [type="radio"]:checked {
     position: relative;
     opacity: 1;
}
input[type='radio'] {
  -webkit-appearance:none;
  width:17px;
  height:17px;
  border-radius:50%;
  outline:none;
  margin-right:10px;
  margin-bottom:-4px;
  border:1px solid #000000;
}
input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;

}
input[type='radio']:checked:before {
  background:#410DAA;
  border:1px solid #410DAA;
}
.control-label {
   font-weight: 600 !important;
}
.dateinput{
    width:100% !important;
}
.icon-xxl{
    font-size:1.75rem !important;
}
.text-dark-blue{
    color:#663259 !important;
}

