body{
    background:white !important;
}
h4.page-header{
    font-size:20px;
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    text-transform: capitalize;
    color: #000000;
}
p.sub-page-header{
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #222225;
   }
p.page-header-help{
    color: #000000;
    font-style: normal;
    font-weight: normal;
    line-height: 13px;
    font-size:12px !important;
    margin-top:3% !important;
}
p.page-text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #121212;
}

.primary-btn-small{
    background-color:#410DAA !important;
    color:white !important;
    width:130px !important;
}
.primary-btn-medium{
    background-color:#410DAA !important;
    color:white !important;
    width:250px !important;
}
.form-control{
    margin-bottom:2% !important;
}
.spinner{
    color:#410DAA !important;
}
.primary-color{
    color:#410DAA !important;
}
.form-control:focus{
    background-color:#ffffff !important;
    border-color:#410DAA !important;
}
.mobile-logo{
    width:60% !important;
}
.help-block{
    font-weight:400 !important;
    font-size: 0.9rem !important;
    font-size:11px;
    color:#6C6D72 !important;
}
[type="radio"]:not(:checked), [type="radio"]:checked {
     position: relative;
     opacity: 1;
}

.control-label {
   font-weight: 600 !important;
}

