{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div id="wrapper">
        <div class="row">

            <div class="col-md-3 col-lg-3"></div>
            <div class="col-md-6 col-lg-6 col-xs-12">
                <h1 class="page-header text-center">Patient Signup</h1>
                <form id="doctor-signup" class="doctor-signup" method="post" action="/patient/signup/">
                    {% csrf_token %}
                    {{form|crispy}}
                    <center>
                        <button type="submit" id="doctor-signup-btn" class="btn primary-btn-small">
                        Signup
                    </button>
                        <br>
                        <p style="color:red;">{{msg}}</p>
                    </center>

                </form>
            </div>
        </div>
    </div>
{% endblock %}